# BX Books dataset  - Data Acquistion
  
Source: The dataset is available [here](http://www2.informatik.uni-freiburg.de/~cziegler/BX/).

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import re
from scipy.sparse import csr_matrix, coo_matrix
import numpy as np

%matplotlib inline

### User Dataset

In [2]:
users = pd.read_csv('../raw-data/BX-Users.csv', sep = ';', encoding = 'iso-8859-1')

In [3]:
users.dtypes

User-ID       int64
Location     object
Age         float64
dtype: object

In [4]:
len(users["User-ID"].unique())

278858

### Ratings dataset

In [5]:
ratings = pd.read_csv('../raw-data/BX-Book-Ratings.csv', encoding='iso-8859-1', sep = ';')
ratings.columns = ['user_id', 'isbn', 'book_rating']

In [6]:
ratings.dtypes

user_id         int64
isbn           object
book_rating     int64
dtype: object

In [7]:
ratings.head(10)

   user_id        isbn  book_rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6
5   276733  2080674722            0
6   276736  3257224281            8
7   276737  0600570967            6
8   276744  038550120X            7
9   276745   342310538           10

In [8]:
ratings.shape

(1149780, 3)

---  
### Books Dataset

In [9]:
books = pd.read_csv('../raw-data/BX-Books.csv', sep=';', encoding = 'iso-8859-1', dtype =str)

In [10]:
books.dtypes

ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication    object
Publisher              object
Image-URL-S            object
Image-URL-M            object
Image-URL-L            object
dtype: object

In [11]:
books['isbn'] = books['ISBN']

In [12]:
del books['Image-URL-L']
del books['Image-URL-M']
del books['Image-URL-S']
del books['Book-Author']
del books['Year-Of-Publication']
del books['Publisher']
del books['ISBN']

In [13]:
books.head()

                                          Book-Title        isbn
0                                Classical Mythology  0195153448
1                                       Clara Callan  0002005018
2                               Decision in Normandy  0060973129
3  Flu: The Story of the Great Influenza Pandemic...  0374157065
4                             The Mummies of Urumchi  0393045218

In [14]:
print(len(books['isbn'].unique()))

271379

In [15]:
overall = books.merge(ratings, on ='isbn')

In [16]:
overall.shape

(1031175, 4)

In [17]:
len(overall.isbn.unique())

270170

In [18]:
overall.head()

            Book-Title        isbn  user_id  book_rating
0  Classical Mythology  0195153448        2            0
1         Clara Callan  0002005018        8            5
2         Clara Callan  0002005018    11400            0
3         Clara Callan  0002005018    11676            8
4         Clara Callan  0002005018    41385            0

In [23]:
overall.to_pickle('../clean-data/overall-data.pickle')

In [24]:
overall = pd.read_pickle('../clean-data/overall-data.pickle')

In [19]:
newdf = overall[overall.book_rating>0]
print(newdf.shape)

(383852, 4)